:root {
  --bg-primary: #FF9B05;
  --bg-secondary: white;

  --text-primary: #333;
  --text-secondary: white;
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


